<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InnovationMembership.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="InnovationMembership.Properties.Settings.InnovationHubConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\micon\Documents\Fablab\Code\InnovationMembership\InnovationMembership\InnovationHub.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <InnovationMembership.Properties.Settings>
            <setting name="HTMLTable" serializeAs="String">
                <value>&lt;html&gt;&lt;head&gt;&lt;body&gt;&lt;img src='cid:attachment_0' /&gt;&lt;br&gt;!TEXT!&lt;/body&gt;&lt;/html&gt;</value>
            </setting>
            <setting name="EmailImage_1" serializeAs="String">
                <value>C:\Users\micon\Documents\Fablab\Code\Hub\Images\Hub.png</value>
            </setting>
        </InnovationMembership.Properties.Settings>
    </applicationSettings>
</configuration>